/*********/
/* Views */
/*********/
.line-con .fx-spelt-cont {
  display: none;
}
.line-con .highlight {
  background: #ff0;
}
.line-con .tag-parsererror {
  color: #d00;
  font-weight: bold;
}

/*********/
/* Voice */
/*********/
.line-con.typ-voice .fx-overlap,
.line-con.typ-voice .type-overlap {
  color: blue;
}
.line-con.typ-voice:not(.s-ot) .fx-overlap {
  display: none;
}

.line-con.typ-voice .tag-pause {
  color: brown;
}
.line-con.typ-voice:not(.s-p) .tag-pause {
  display: none;
}

.line-con.typ-voice .tag-incident {
  color: #808080;
}
.line-con.typ-voice:not(.s-ce) .tag-incident {
  display: none;
}

.line-con.typ-voice .tag-shift {
  color: #AA0066;
}
.line-con.typ-voice:not(.s-sm) .tag-shift:not(.new-laugh):not(.neutral-laugh) {
  display: none;
}

.line-con.typ-voice:not(.s-smls) .new-laugh,
.line-con.typ-voice:not(.s-smls) .neutral-laugh {
  display: none;
}

.line-con.typ-voice .tag-vocal {
  color: #AA0066;
}
.line-con.typ-voice:not(.s-vsn) .tag-vocal:not(.voice-desc-laughing) {
  display: none;
}

.line-con.typ-voice:not(.s-vsnl) .tag-vocal.voice-desc-laughing {
  display: none;
}

.line-con.typ-voice .fx-spel {
  color: #AA0066;
}
.line-con.typ-voice:not(.s-spl) .fx-spel {
  display: none;
}

.line-con.typ-voice .tag-foreign.voice-type-LN, .line-con.typ-voice .tag-foreign.voice-type-L1, .line-con.typ-voice .tag-foreign.voice-type-LQ {
  color: #b13610;
}

.line-con.typ-voice:not(.s-flat) .fx-foreign {
  display: none;
}
.line-con.typ-voice:not(.s-flat) .fx-foreign-t {
  display: none;
}

.line-con.typ-voice:not(.s-oc) .fx-other-continuation {
  display: none;
}

.line-con.typ-voice .tag-supplied.reason-unintelligible {
  color: #00978E;
}
.line-con.typ-voice:not(.s-uit) .fx-unintelligible-tag {
  display: none;
}

.line-con.typ-voice .fx-ono {
  color: #61DDD2;
}
.line-con.typ-voice:not(.s-ono) .fx-ono {
  display: none;
}

.line-con.typ-voice .fx-pvct {
  color: #61DDD2;
}
.line-con.typ-voice:not(.s-pvct) .fx-pvct {
  display: none;
}

.line-con.typ-voice .fx-ipa {
  color: #61DDD2;
}

.line-con.typ-voice.s-lie .tag-emph {
  text-transform: uppercase;
}

.line-con.typ-voice .type-other_continuation {
  color: #8700C1;
}

.line-con.typ-voice:not(.s-ut) .tag-unclear {
  text-transform: lowercase;
}
.line-con.typ-voice:not(.s-ut) .fx-unclear {
  display: none;
}

.line-con.typ-voice:not(.s-lie) .type-lengthening,
.line-con.typ-voice:not(.s-lie) .type-intonation {
  display: none;
}

/*********/
/* Plain */
/*********/
.line-con.typ-plain .has-n {
  color: #00f;
}

/*******/
/* Pos */
/*******/
.line-con.typ-pos span {
  vertical-align: top;
}
.line-con.typ-pos .fx-ana {
  color: #888;
}
.line-con.typ-pos:not(.s-slv) .fx-ana {
  display: block;
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 0 1.5px;
}
.line-con.typ-pos:not(.s-slv) .tag-w,
.line-con.typ-pos:not(.s-slv) .tag-emph,
.line-con.typ-pos:not(.s-slv) .fx-ana-frm {
  display: inline-block;
  text-align: center;
}
.line-con.typ-pos:not(.s-slv) .fx-ana-s {
  display: none;
}
.line-con.typ-pos.s-form.s-asft .fx-ana-f-s {
  display: none;
}
.line-con.typ-pos:not(.s-func) .fx-ana-f {
  display: none;
}
.line-con.typ-pos:not(.s-form) .fx-ana-form {
  display: none;
}

/********/
/* kwic */
/********/
.kwic-frm, .kwic-prev {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.kwic-frm > .line-con, .kwic-prev {
  position: relative;
  left: 0px;
  white-space: nowrap;
}

/*******/
/* XML */
/*******/
.line-con.typ-xml-view {
  font-family: Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  position: relative;
  border-top: 1px solid #bbb;
}
.line-con.typ-xml-view .tc {
  color: mediumblue;
}
.line-con.typ-xml-view .tnc {
  color: brown;
}
.line-con.typ-xml-view .ac {
  color: red;
}
.line-con.typ-xml-view .avc {
  color: mediumblue;
}
.line-con.typ-xml-view .cc {
  color: green;
}
